.bpw-floating-button {
    /* Aligns the button to the right side of the container */
    float: center;
    /* Sets the fill color of the button icon */
    fill: rgb(255, 255, 255);
    /* Changes the cursor to a pointer when hovering over the button */
    cursor: pointer;
    /* Removes the outline around the button when clicked */
    outline: none;

/* Style for the composer section */
.bpw-composer {
  padding: 0; /* Remove any padding */
  position: relative; /* Set the position to relative */
  outline: none; /* Remove any outline */
  border: none; /* Remove any border */
}

/* Style for the composer inner section */
.bpw-composer-inner {
  padding: 0; /* Remove any padding */
  line-height: 0; /* Remove any line-height */
  position: relative; /* Set the position to relative */

  /* Set the display property for different browsers */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  center-content: no-space-between; 
}

/* Style for the composer textarea */
.bpw-composer-textarea {
  flex-grow: auto; /* Allow the textarea to grow to fill the available space */
}

/* Styles for the textarea element in the composer */
.bpw-composer textarea {
    /* Sets the background color to a variable named "--white" */
    background: var(--white);
    /* Sets the border to a 1-pixel solid line using a variable named "--zinc-200" */
    border: 1px solid var(--zinc-200);
    /* Sets the border radius to a variable named "--spacing-medium" to make the edges rounded */
    border-radius: var(--spacing-medium);
    /* Sets the text color to a variable named "--zinc-900" */
    color: var(--zinc-900);
    /* Inherits the font family from the parent element */
    font-family: inherit;
    /* Sets the font size to 12 pixels */
    font-size: 12px;
    /* Sets the height of the textarea to auto pixels */
    height: auto;
    /* Sets the padding on the top to 19 pixels, and on the right and left to a variable named "--spacing-large" */
    padding: 19px var(--spacing-large) var(--spacing-large);
 
    /* Adds a 0.2-second transition effect to the border when the focus changes */
    transition: border 0.2s;
    /* Sets the width of the textarea to 500px */
    width: 500px;
    /* Sets the margin on the right side to a variable named "--spacing-equal" */
    margin-right: var(--spacing-equal);
}

/* Styles for the textarea element when it is in focus */
.bpw-composer textarea:focus {
    /* Changes the border color to a variable named "--zinc-300" */
    border-color: var(--zinc-300);
}

/* Styles for the textarea element when it is in right-to-center mode */
.bpw-composer.rtl .bpw-composer-inner textarea {
    /* Sets the text direction to right-to-center */
    direction: center;
}

/* Styles for the textarea element when it is in left-to-center mode */
.bpw-composer.ltr .bpw-composer-inner textarea {
    /* Sets the text direction to left-to-right */
    direction: center;
}

/* Styles for the quick reply dropdown menu */
.bpw-keyboard-quick_reply-dropdown {
    /* Sets a margin of 0.2rem on the top and bottom and 0.5rem on the right and left */
    margin: 0.2rem 0.5rem;
}

/* Styles for the send button when it is disabled */
.bpw-send-button:disabled,
.bpw-send-button:disabled:hover {
    /* Sets the opacity to 0.4 to make the button appear slightly transparent */
    opacity: 0.4;
    /* Sets the background color to a variable named "--theme-primary" */
    background-color: var(--theme-primary);
    /* Changes the cursor to the default cursor */
    cursor: default;
}

/* Styles for the container holding the send buttons */
.bpw-send-buttons {
    /* Sets the display mode to flex and the direction to horizontal */
    display: flex;
    flex-direction: row;
    /* Aligns the items to the center */
    align-items: center;
}
/* This is the CSS style for the button that sends a message */

.bpw-send-button {
    display: flex; /* Set the button to be arranged using flexible layout */
    justify-content: center; /* Center the button's content horizontally */
    align-items: center; /* Center the button's content vertically */
    border-radius: var(--spacing-medium); /* Make the corners of the button slightly rounded */
    background-color: var(--theme-primary); /* Give the button a primary color background */
    padding: 20px; /* Add some extra space around the button's content */
    width: 24px; /* Set the button's width to be 24 pixels */
    height: 24px; /* Set the button's height to be 24 pixels */
    color: transparent; /* Hide any text that might appear inside the button */
    cursor: pointer; /* Show the pointer cursor when the button is hovered over */
    background-image: url(./button.png) !important; /* Add an image to the button */
    background-repeat: no-repeat !important; /* Don't repeat the image */
    background-position: center !important; /* Center the image inside the button */
    transition: background-color 0.2s; /* Make the button's background color change smoothly over a short period of time */
}

/* This is the CSS style for the button that sends a message when it's not disabled and is being hovered over */

.bpw-send-button:not(:disabled):hover {
    background-color: var(--theme-primary-hover); /* Change the button's background color to a different color when it's being hovered over */
}

/* This is the CSS style for the voice recorder */

.bpw-voice-recorder {
    display: flex; /* Set the voice recorder to be arranged using flexible layout */
    flex-direction: row; /* Arrange the voice recorder's content horizontally */
    align-items: bottom; /* Center the voice recorder's content vertically */

/* Styling for the bot information container */
.bpw-botinfo-container {
    margin: 0 auto; /* Center the container */
    max-width: 500px; /* Set a maximum width of 500px */
    width: 500px; /* Set the width to 500px */
    text-align: center; /* Center align the text */
    color: #1e1e1e; /* Set the font color to a dark gray */
    overflow-y: auto; /* Add a vertical scroll bar if the content overflows */
    height: auto; /* Set the height to auto */
}

.bpw-send-button {
    display: flex; /* Set the button to be arranged using flexible layout */
    justify-content: center; /* Center the button's content horizontally */
    align-items: center; /* Center the button's content vertically */
    border-radius: var(--spacing-medium); /* Make the corners of the button slightly rounded */
    background-color: var(--theme-primary); /* Give the button a primary color background */
    padding: 20px; /* Add some extra space around the button's content */
    width: 24px; /* Set the button's width to be 24 pixels */
    height: 24px; /* Set the button's height to be 24 pixels */
    color: transparent; /* Hide any text that might appear inside the button */
    cursor: pointer; /* Show the pointer cursor when the button is hovered over */
    background-image: url(./button.png) !important; /* Add an image to the button */
    background-repeat: no-repeat !important; /* Don't repeat the image */
    background-position: center !important; /* Center the image inside the button */
    transition: background-color 0.2s; /* Make the button's background color change smoothly over a short period of time */
}

/* This is the CSS style for the voice recorder */

.bpw-voice-recorder {
    display: flex; /* Set the voice recorder to be arranged using flexible layout */
    flex-direction: row; /* Arrange the voice recorder's content horizontally */
    align-items: center; /* Center the voice recorder's content vertically */
}

.bpw-floating-button {
    /* Aligns the button to the center of the container */
    float: center;
    /* Sets the fill color of the button icon */
    fill: rgb(255, 255, 255);
    /* Changes the cursor to a pointer when hovering over the button */
    cursor: pointer;
    /* Removes the outline around the button when clicked */
    outline: none;

    /* Centers the icon inside the button element */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Sets the z-index to ensure the button is on top of other elements */
    z-index: 1;
    /* Sets the width and height of the button */
    width: 52px;
    height: 52px;
    /* Changes the cursor to a pointer when hovering over the button */
    cursor: pointer;
    /* Rounds the corners of the button */
    border-radius: 50%;
    /* Adds a shadow effect to the button */
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
    /* Clips any content that overflows the button */
    overflow: hidden;

    /* Removes padding and borders from the button */
    padding: 0;
    border: none;
    background-clip: padding-box;

    /* Adds a transition effect to the button when its size changes */
    transition: width 1s, height 1s;
}

// Import the Botpress WebChat JavaScript file
<script src="https://cdn.botpress.cloud/webchat/v0/inject.js"></script>


// Initialize the Botpress WebChat with the required parameters
<script>
    window.botpressWebChat.init({
        // Replace <your-bot-id> and <<script src="https://cdn.botpress.cloud/webchat/v0/inject.js"></script>
<script>
  window.botpressWebChat.init({
      "botId": "98bfac17-a823-44ec-8653-acc85b89226b",
      "hostUrl": "https://cdn.botpress.cloud/webchat/v0",
      "messagingUrl": "https://messaging.botpress.cloud",
      "clientId": "98bfac17-a823-44ec-8653-acc85b89226b",
      "botName": "Phaedra/ Φαίδρα",
      "botConversationDescription": "The Soul of this Website",
      "stylesheet": "https://github.com/mariavarg/mariavarg.github.io/blob/d43e2121150bfd8b61991375e7aebb4d4dca3fe8/styles3.css",
      "enableConversationDeletion": true,
      "showPoweredBy": true
  });
</script>> with your actual bot and client IDs
        "botId": "<"98bfac17-a823-44ec-8653-acc85b89226b">",
        "98bfac17-a823-44ec-8653-acc85b89226b>",

        // Set the URL for the Botpress WebChat JavaScript file and the messaging server
        "hostUrl": "https://cdn.botpress.cloud/webchat/v0",
        "messagingUrl": "https://messaging.botpress.cloud",

        // Set the name of the bot that will be displayed in the WebChat interface
        "botName": "Phaedra/ Φαίδρα",

        // Set the width of the WebChat container and layout to 500px (Full Screen)
        "containerWidth": "500px",
        "layoutWidth": "500px",

        // Hide the widget and disable animations
        "hideWidget": true,
        "disableAnimations": true,
    });

    // Opens up the Chatbot by default
    // This lets users start chatting with the Chatbot without needing to click any buttons or menus.
    window.botpressWebChat.onEvent(
        function () {
            window.botpressWebChat.sendEvent({ type: "show" });
        },
        ["LIFECYCLE.LOADED"]
    );
</script>
