1
// Import the Botpress WebChat JavaScript file
2
<script src="https://cdn.botpress.cloud/webchat/v0/inject.js"></script>
3

4
// Initialize the Botpress WebChat with the required parameters
5
<script>
6
    window.botpressWebChat.init({
7
        // Replace <your-bot-id> and <your-client-id> with your actual bot and client IDs
8
        "botId": "<98bfac17-a823-44ec-8653-acc85b89226b>",
9
        "clientId": "<98bfac17-a823-44ec-8653-acc85b89226b>",
10

11
        // Set the URL for the Botpress WebChat JavaScript file and the messaging server
12
        "hostUrl": "https://cdn.botpress.cloud/webchat/v0",
13
        "messagingUrl": "https://messaging.botpress.cloud",
14

15
        // Set the name of the bot that will be displayed in the WebChat interface
16
        "botName": "Phaedra/ Φαίδρα",
17

18
        // Set the width of the WebChat container and layout to 100% (Full Screen)
19
        "containerWidth": "500px",
20
        "layoutWidth": "500px",
21

22
        // Hide the widget and disable animations
23
        "hideWidget": true,
24
        "disableAnimations": true,
25
    });
26

27
    // Opens up the Chatbot by default
28
    // This lets users start chatting with the Chatbot without needing to click any buttons or menus.
29
    window.botpressWebChat.onEvent(
30
        function () {
31
            window.botpressWebChat.sendEvent({ type: "show" });
32
        },
33
        ["LIFECYCLE.LOADED"]
34
    );
35
</script>


.bpw-floating-button {
2
    /* Aligns the button to the right side of the container */
3
    float: center;
4
    /* Sets the fill color of the button icon */
5
    fill: rgb(255, 255, 255);
6
    /* Changes the cursor to a pointer when hovering over the button */
7
    cursor: pointer;
8
    /* Removes the outline around the button when clicked */
9
    outline: none;
10

11
    /* Centers the icon inside the button element */
12
    display: flex;
13
    align-items: center;
14
    justify-content: center;
15

16
    /* Sets the z-index to ensure the button is on top of other elements */
17
    z-index: 1;
18
    /* Sets the width and height of the button */
19
    width: 52px;
20
    height: 52px;
21
    /* Changes the cursor to a pointer when hovering over the button */
22
    cursor: pointer;
23
    /* Rounds the corners of the button */
24
    border-radius: 50%;
25
    /* Adds a shadow effect to the button */
26
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
27
    /* Clips any content that overflows the button */
28
    overflow: hidden;
29

30
    /* Removes padding and borders from the button */
31
    padding: 0;
32
    border: none;
33
    background-clip: padding-box;
34

35
    /* Adds a transition effect to the button when its size changes */
36
    transition: width 1s, height 1s;
37
}

/* This block of CSS code styles a header icon element */
2
.bpw-header-icon {
3
    /* Remove border */
4
    border: none;
5
    /* Remove background color */
6
    background: none;
7
    /* Remove padding */
8
    padding: 0;
9
    /* Remove margin */
10
    margin: 0;
11
    /* Set text color to a variable named shark */
12
    color: var(--shark);
13
    /* Set line-height to zero */
14
    line-height: 0;
15
    /* Set left margin to a variable named spacing-large */
16
    margin-left: var(--spacing-large);
17
    /* Align text to the right */
18
    text-align: center;
19
    /* Align element vertically in the middle */
20
    vertical-align: top;
21
    /* Set cursor to a pointer */
22
    cursor: pointer;
23
    /* Set fill color to a variable named shark */
24
    fill: var(--shark);
25
    /* Set width to 16 pixels */
26
    width: 16px;
27
    /* Set height to 16 pixels */
28
    height: 16px;
29
    /* Set fill transition duration to 0.3 seconds */
30
    transition: fill 0.3s;
31
}
32

33
/* Apply the same fill color and fill transition to the icon's SVG and path elements */
34
.bpw-header-icon svg,
35
.bpw-header-icon svg path {
36
/* Set fill color to a variable named shark */
37
fill: var(--shark);
38
/* Set fill transition duration to 0.3 seconds */
39
transition: fill 0.3s;
40
}
41

42
/* When the icon is hovered over, change the fill color to a variable named reef for the icon, SVG and path elements */
43
.bpw-header-icon:hover,
44
.bpw-header-icon:hover svg,
45
.bpw-header-icon:hover svg path {
46
fill: var(--reef);
47
}
