body {
  font-size: 6px !important;
  max-height: auto !important;
}
.bpw-chat-container {
  border: 0.5px solid #9181f5;
  border-radius: 6px;
  overflow: hidden;
}
.bpw-header-container {
  border-top:none;
}
.bpw-header-container {
  padding-left:auto 
}
#btn-delete-conversation {
  display:none;
}
#btn-download {
  display:none;
}
.bpw-widget-btn {
  border-radius:50%;
  box-shadow: none;
  background-color: #ab0535;
}
.bpw-from-user .bpw-chat-bubble > div{
  border-radius: 12px;
  border-bottom-right-radius: 4px;
}
.bpw-from-bot .bpw-chat-bubble.bpw-bubble-text > div{
  border-radius: 12px;
  border-bottom-left-radius: 4px;
}
.bpw-header-title {
  font-size : 7px;
}
.bpw-keyboard-quick_reply{
  background-color: transparent;
  padding: 0;
  text-align: center;
  border-top: none;
  padding-left: auto;
  padding-bottom:10px;
}
.bpw-keyboard-quick_reply button {
  padding: 6px 8px;
  background-color: var(--main-bg-color);
  font-size: 7px;
  min-width: 500px;
  min-height: auto;
  text-align: center;
  border: 1px solid currentColor;
  border-radius: 12px;
  cursor: pointer;
  margin: 2px 2px;
  text-transform: none;
  overflow: visible;
  color: #000;
  background: #f4f4f5;
  border: 1px solid #d4d4d8;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(212, 212, 216);
  border-right-color: rgb(212, 212, 216);
  border-bottom-color: rgb(212, 212, 216);
  border-left-color: rgb(212, 212, 216);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 6px 8px;
}

/* .bpw-bot-avatar img {
height:30px;
width:30px;
}

.bpw-header-icon svg { 
height: 12px;
width: 12px;
} */

.bpw-composer {
padding-bottom:auto;
}

.bpw-composer textarea{
font-size:7px;
}

.bpw-send-button {
margin-bottom: 0.5rem;
font-family: inherit;
font-size: 7px;.
}

body >div:nth-child(3) {
display:none;
}

#bp-widget.bp-widget-side {
  bottom: 7px;
  right: 7px;
  top: unset;
  width: 361px;
  height: auto!important;
  z-index: 400;
}

.bp-widget-side {
  bottom: 0;
height: auto !important;
left: auto;
right: auto;
top: 0;
width: 361px !important;
}
.bp-widget-web {
  -webkit-font-smoothing: antialiased;
  background: none transparent;
  border: none;
  display: block;
  font-size: 7px;
  letter-spacing: 0;
  max-height: auto !important; 
  max-width: 500px;
  opacity: 1;
  padding: 0;
  position: relative;
  transition: none;
  visibility: none;
  z-index: 20
}
@media (max-width: 500px) {
  #bp-widget.bp-widget-side {
    bottom: 7px;
    right: 7px;
    top: unset;
    width: 500px;
    height: auto!important;
    z-index: 400;
  }
  .bpw-header-name {
    font-size: 7px!important;
  }
  .bpw-header-subtitle {
    font-size: 7px!important;
  }
  .bpw-send-button{
    font-size: 7px!important;
  }
  .bp-widget-side{
    height: auto !important;
  }
  .bpw-composer textarea{
    font-size:7px !important;
    }
    .bpw-chat-bubble-content{
      font-size: 7px!important;
    }
    .bpw-widget-btn {
      background-color: #ab0535;
  }
}

@media (max-width: 500px) {
  .bp-widget {
    font-size: 7px;
    padding: 5px;
  }
}


@media (max-width: 500px) {
  #webchat-frame {
    height: auto;
  }
}


@media only screen and (min-device-width: 500px) and (max-device-width: 500px) and (-webkit-device-pixel-ratio: 3) {
  #bp-widget.bp-widget-side {
    bottom: 7px;
    right: 7px;
    top: unset;
    width: 361px;
    height: auto !important;
    z-index: 400;
  }
  .bpw-header-name {
    font-size: 7px!important;
  }
  .bpw-header-subtitle {
    font-size: 7px!important;
  }
  .bpw-send-button{
    font-size: 7px!important;
  }
  .bp-widget-side{
    height: auto !important;
  }
  .bpw-composer textarea{
    font-size:7px !important;
    }
    .bpw-chat-bubble-content{
      font-size: 7px!important;
      padding: 8px 11px!important;
    }
    .bp-widget-side {
      bottom: 0;
    height: auto !important;
    left: auto;
    right: 0;
    top: auto;
    width: 361px !important;
    }
    .bp-widget-web {
      -webkit-font-smoothing: antialiased;
      background: none transparent;
      border: none;
      display: block;
      font-size: 7px;
      letter-spacing: 0;
      max-height: auto !important; 
      max-width: 100vw;
      opacity: 1;
      padding: 0;
      position: relative;
      transition: none;
      visibility: none;
      z-index: 20
    }
    .bpw-chat-container {
      border: 0.5px solid #db3e1f;
      border-radius: 8px;
      overflow: hidden;
    }
    .bpw-bot-avatar img{
      height: 30px !important;
      width: 30px!important;
    }
    .bpw-date-container{
      font-size: 7px!important;
      margin: 20px 0 20px;
    }
    .bpw-header-icon svg { 
      height: 11px;
      width: 11px;
      } 
      .bpw-widget-btn {
        background-color: #a86f7f;
    }
}

@media only screen and (device-width: 500px) and (device-height: auto) and (-webkit-device-pixel-ratio: 4) {
  #bp-widget.bp-widget-side {
    bottom: 7px;
    right: 7px;
    top: unset;
    width: 361px;
    height: auto!important;
    z-index: 400;
  }
  .bpw-header-name {
    font-size: 7px!important;
  }
  .bpw-header-subtitle {
    font-size: 7px!important;
  }
  .bpw-send-button{
    font-size: 7px!important;
  }
  .bp-widget-side{
    height: auto !important;
  }
  .bpw-composer textarea{
    font-size:7px !important;
    }
    .bpw-chat-bubble-content{
      font-size: 7px!important;
    }
    .bp-widget-side {
      bottom: 0;
    height: auto !important;
    left: auto;
    right: 0;
    top: 0;
    width: 361px !important;
    }
    .bp-widget-web {
      -webkit-font-smoothing: antialiased;
      background: none transparent;
      border: none;
      display: block;
      font-size: 7px;
      letter-spacing: 0;
      max-height: 78vh !important; 
      max-width: 100vw;
      opacity: 1;
      padding: 0;
      position: fixed;
      transition: none;
      visibility: none;
      z-index: 20
    }
    .bpw-chat-container {
      border: 0.5px solid #db3e1f;
      border-radius: 8px;
      overflow: hidden;
    }
    .bpw-bot-avatar img{
      height: 30px !important;
      width: 30px!important;
    }
    .bpw-date-container{
      font-size: 7px!important;
      margin: 20px 0 20px;
    }
    .bpw-header-icon svg { 
      height: 11px;
      width: 11px;
      } 
      .bpw-widget-btn {
        background-color: #ab0535;
    }
}
/*SE */
@media only screen and (device-width: 500px) and (device-height: auto) and (-webkit-device-pixel-ratio: 2) {
  #bp-widget.bp-widget-side {
    bottom: 7px;
    right: 7px;
    top: unset;
    width: 500px;
    height: auto!important;
    z-index: 400;
  }
  .bpw-header-name {
    font-size: 7px!important;
  }
  .bpw-header-subtitle {
    font-size: 7px!important;
  }
  .bpw-send-button{
    font-size: 7px!important;
  }
  .bp-widget-side{
    height: auto !important;
  }
  .bpw-composer textarea{
    font-size:7px !important;
    }
    .bpw-chat-bubble-content{
      font-size: 7px!important;
    }
    .bp-widget-side {
      bottom: 0;
    height: auto !important;
    left: auto;
    right: auto;
    top: 0;
    width: 361px !important;
    }
    .bp-widget-web {
      -webkit-font-smoothing: antialiased;
      background: none transparent;
      border: none;
      display: block;
      font-size: 7px;
      letter-spacing: 0;
      max-height: auto !important; 
      max-width: 100vw;
      opacity: 1;
      padding: 0;
      position: relative;
      transition: none;
      visibility: none;
      z-index: 20
    }
    .bpw-chat-container {
      border: 0.5px solid #db3e1f;
      border-radius: 8px;
      overflow: hidden;
    }
    .bpw-bot-avatar img{
      height: 30px !important;
      width: 30px!important;
    }
    .bpw-date-container{
      font-size: 7px!important;
      margin: 20px 0 20px;
    }
    .bpw-header-icon svg { 
      height: auto;
      width: 11px;
      } 
      .bpw-widget-btn {
        background-color: #ab0535;
    }
}

@media only screen 
  and (device-width: 500px) 
  and (device-height: auto) 
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {
  #bp-widget.bp-widget-side {
    bottom: 7px;
    right: 7px;
    top: unset;
    width: 361px;
    height: 80vh !important;
    z-index: 400;
  }
  .bpw-header-name {
    font-size: 7px!important;
  }
  .bpw-header-subtitle {
    font-size: 7px!important;
  }
  .bpw-send-button{
    font-size: 7px!important;
  }
  .bp-widget-side{
    height: auto !important;
  }
  .bpw-composer textarea{
    font-size:7px !important;
    }
    .bpw-chat-bubble-content{
      font-size: 7px!important;
      padding: 8px 10px!important;
    }
    .bp-widget-side {
      bottom: 0;
    height: auto !important;
    left: auto;
    right: 0;
    top: 0;
    width: 361px !important;
    }
    .bp-widget-web {
      -webkit-font-smoothing: antialiased;
      background: none transparent;
      border: none;
      display: block;
      font-size: 7px;
      letter-spacing: 0;
      max-height: auto !important; 
      max-width: 500px;
      opacity: 1;
      padding: 0;
      position: relative;
      transition: none;
      visibility: none;
      z-index: 20
    }
    .bpw-chat-container {
      border: 0.5px solid #db3e1f;
      border-radius: 8px;
      overflow: hidden;
    }
    .bpw-bot-avatar img{
      height: 30px !important;
      width: 30px!important;
    }
    .bpw-date-container{
      font-size: 7px!important;
      margin: 20px 0 20px;
    }
    .bpw-header-icon svg { 
      height: 11px;
      width: 11px;
      } 
      .bpw-widget-btn {
        background-color: #a86f7f;
    }
}
