body {
  background: #ffffff;
}

.content {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
  text-align:center;
}

.content {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
}

.responsive {
  width: 100%;
  max-width: 500px;
  height: auto;
  align-items:center;
}


