body, html {
  height:100%;
}

div {
  max-width: 500px;
  margin: 10.5px;
  text-align:center;
}

.responsive {
  width: 100%;
  max-width: 500px;
  height: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

  /* Full height */
  height: 100%;

 content {
  max-width: 500px;
  margin: auto;
}

#Responsive-logo{
  display: hidden;
  width: 48px;
  height: 48px;
  background-size: 37px;
}

media screen and (max-width: 500px){
  *{
    margin: 0;
  }
  {
    #Responsive-logo{
      display: inline-block;
      background: gray;
      border: 1px solid black;
      border-radius: 1px;
    }
    
  }  
