body {
  margin:0;
  color: red;
  background-color: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  height: 700px;
  width: 500px;
}

section {
  display: grid;
  // grid-template-columns: 1fr;
  justify-items: center;

  textarea {

  }

  img {
    object-fit: cover;
    height: 700px;
    width: 500px;  
  }

  #capture {
    background-color: initial;
    position: relative;
    font-size: 3em;
    overflow: hidden;
    height: 700px;
    width: 500px;
    
    h1 {
      margin: 0px;
      position: absolute;
      top: 0.5px;
      left: 0.5px;
      right: 0.5px;
      bottom: 0.5px;
      text-align: center;
    }

    #quote__text {
      position: absolute;
      top: 10px;
      left: 40px;
      right: 40px;
      bottom:40px;
      text-align: center;
    }
  }

  canvas {

  }
} 
