@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

section {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

section img {
  width: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 700px;
}

section #capture {
  background-color: initial;
  position: absolute;
  font-size: 3em;
  overflow: hidden;
  height: 700px;
  width: 500px;
}

section #capture #quote__text {
  position: absolute;
  top: 10px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  text-align: center;
}
