:root {
    font-family: @import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
    font-size: 14px;
}

* {
    font-family: 'Sofia', cursive;
}

#meme-canvas {
    width: 500px;
    height: 700px;
}

