:root {
    font-family: 'https://fonts.googleapis.com/css2?family=Sofia&display=swap'
    
}

* {
    font-family: 'Sofia', cursive;
}

.content {
  max-width: 500px;
  margin: 0;
  padding: 10px;
}

#meme-canvas {
    width: 500px;
    height: auto;
}

