:root {
    font-family: 'https://fonts.googleapis.com/css2?family=Sofia&display=swap'
    
}

* {
    font-family: 'Sofia', cursive;
}

#meme-canvas {
    width: 500px;
    height: auto;
}

body, html {
  height:100%;
}

div {
  max-width: 500px;
  margin: 10.5px;
  text-align:center;
}

.responsive {
  width: 100%;
  max-width: 500px;
  height: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}


.content {
  max-width: 500px;
  margin: auto;
}



